@import url('https://fonts.googleapis.com/css2? family= Cormorant+Garamond & display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

.card-heard {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: hsl(36, 76%, 76%);
  width: 400px;
  border-radius: 12px;
  margin: 80px 120px;
  overflow: hidden; 
  text-align: center;
  font-family: "Cormorant Garamond", serifa;
  color: rgba(94, 70, 43, 0.932);
  position: relative;
}

.card .card-banner {
  width: 100%;
}

.card .card-banner2 {
  width: 140px;
  height: 140px;
  margin: -70px auto 12px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.card .card-heart {
  width: 40px;
  position: absolute;
  top: 12px;
  left: 12px;
}

