@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: hsl(46, 33%, 56%);
}

.main-heard {
  background-color: #6bbdd1;
  display: flex;
  height: 60;
  justify-content: space-between;
  padding: 0 80px;

}

.main-heard img {
  width: 20px;
}

.main-heard ul {
  list-style: none;
  display: flex;
  gap: 23px;
  align-items: center;  
}
.videos {
  display: flex;
  flex-wrap: wrap;
}

.video {
  width: 400px;
  font-family: 'Lobster', cursive;
  background-color: #83b964;
  margin: 20px 20px;
}

.video h1 {
  color: #70461e;
  text-align: center;
  font-weight: 100px;
}

.video img {
  width: 100%;
}